@model List<Kullanici>
<!DOCTYPE html>
<html>
<head>
    <link href="/css/Kullanicilar.css" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Admin Panel Login</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/admin.css" asp-append-version="true" />
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/adminstyle.css" rel="stylesheet">

    <style>
        body, html {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 41%;
            padding: 15px;
            margin: 0;
        }

        .table {
            width: 100%;
            margin: 0;
        }

        th, td {
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div class="container mt-3">
        <h1>Kullanıcı Listesi</h1>
        <table class="table table-bordered loginsTable">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Telefon Numarası</th>
                    <th>E-mail</th>
                    <th>Parola</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kullanici in Model)
                {
                    <tr>
                        <td>@kullanici.Ad</td>
                        <td>@kullanici.Soyad</td>
                        <td>@kullanici.TelefonNo</td>
                        <td>@kullanici.Mail</td>
                        <td>@kullanici.Parola</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
